/* start styles.css */
/* Defaults
---------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
button,
input:focus,
input[type=button],
input[type=submit],
textarea:focus,
.wp-element-button {
  transition: all 0.2s ease-in-out;
}

a,
a:focus,
a:hover,
a:not(.wp-element-button) {
  text-decoration-thickness: 1px;
}

b,
strong,
th {
  font-weight: var(--wp--custom--font-weight--medium);
}

mark {
  background: linear-gradient(90deg, var(--wp--preset--color--primary) 0%, var(--wp--preset--color--primary) 100%);
  background-position: 0 85%;
  background-repeat: repeat-x;
  background-size: 100% 15%;
}

/* -- Misc -- */
::-moz-placeholder {
  color: var(--wp--preset--color--contrast);
  font-size: var(--wp--preset--font-size--small);
  opacity: 0.5;
}
::placeholder {
  color: var(--wp--preset--color--contrast);
  font-size: var(--wp--preset--font-size--small);
  opacity: 0.5;
}

/* -- Forms -- */
input,
select,
textarea {
  background-color: var(--wp--preset--color--base);
  border: 1px solid var(--wp--preset--color--contrast);
  border-radius: 0;
  color: var(--wp--preset--color--contrast);
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--medium);
  font-weight: var(--wp--custom--font-weight--light);
  line-height: var(--wp--custom--line-height--body);
  padding: 10px 20px;
  width: 100%;
}

input:focus,
textarea:focus {
  background-color: var(--wp--preset--color--neutral);
  outline: none;
}

input[type=checkbox],
input[type=image],
input[type=radio] {
  width: auto;
}

input[type=button],
input[type=email],
input[type=search],
input[type=submit],
input[type=text],
textarea {
  -webkit-appearance: none;
}

#cove--temp-cookie-consent {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
}
#cove--temp-cookie-consent > div {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  border: 1px solid gray;
  border-bottom: 0px solid transparent;
  background-color: white;
  color: black;
}
#cove--temp-cookie-consent a {
  text-decoration: none;
  font-size: 36px;
  line-height: 36px;
}
#cove--temp-cookie-consent p {
  max-width: 680px;
}

/* end styles.css */
