/* start styles.css */
/* Defaults
---------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button,
input:focus,
input[type=button],
input[type=submit],
textarea:focus,
.wp-element-button {
  transition: all 0.2s ease-in-out;
}

a,
a:focus,
a:hover,
a:not(.wp-element-button) {
  text-decoration-thickness: 1px;
}

b,
strong,
th {
  font-weight: var(--wp--custom--font-weight--medium);
}

mark {
  background: linear-gradient(90deg, var(--wp--preset--color--primary) 0%, var(--wp--preset--color--primary) 100%);
  background-position: 0 85%;
  background-repeat: repeat-x;
  background-size: 100% 15%;
}

/* -- Misc -- */
::-moz-placeholder {
  color: var(--wp--preset--color--contrast);
  font-size: var(--wp--preset--font-size--small);
  opacity: 0.5;
}
::placeholder {
  color: var(--wp--preset--color--contrast);
  font-size: var(--wp--preset--font-size--small);
  opacity: 0.5;
}

/* -- Forms -- */
input,
select,
textarea {
  background-color: var(--wp--preset--color--base);
  border: 1px solid var(--wp--preset--color--contrast);
  border-radius: 0;
  color: var(--wp--preset--color--contrast);
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--medium);
  font-weight: var(--wp--custom--font-weight--light);
  line-height: var(--wp--custom--line-height--body);
  padding: 10px 20px;
  width: 100%;
}

input:focus,
textarea:focus {
  background-color: var(--wp--preset--color--neutral);
  outline: none;
}

input[type=checkbox],
input[type=image],
input[type=radio] {
  width: auto;
}

input[type=button],
input[type=email],
input[type=search],
input[type=submit],
input[type=text],
textarea {
  -webkit-appearance: none;
}

body.admin-bar header.site-header {
  top: 32px;
}
@media (max-width: 782px) {
  body.admin-bar header.site-header {
    top: 0;
  }
}
@media (max-width: 782px) {
  body.admin-bar #wpadminbar {
    display: none !important;
  }
}

header.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: var(--wp--preset--color--base);
  color: var(--wp--preset--color--contrast);
  border-bottom: 1px solid var(--wp--preset--color--neutral);
}
header.site-header ~ main {
  margin-top: 90px !important;
}

main.is-layout-flow {
  margin-bottom: 0;
}

.wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  color: var(--wp--preset--color--contrast);
}
.wp-block-navigation__submenu-container .wp-block-navigation-item__content:hover, .wp-block-navigation__submenu-container .wp-block-navigation-item__content:focus, .wp-block-navigation__submenu-container .wp-block-navigation-item__content:focus-within {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--base);
}

.has-base-color .wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  color: var(--wp--preset--color--contrast);
}
.has-base-color .wp-block-navigation__submenu-container .wp-block-navigation-item__content:hover, .has-base-color .wp-block-navigation__submenu-container .wp-block-navigation-item__content:focus, .has-base-color .wp-block-navigation__submenu-container .wp-block-navigation-item__content:focus-within {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--base);
}

/* end styles.css */
